/*
Blue = #01AFD1
Dk Grey = #1B2E35
Lt Grey = #9FA7B4
Green = #1FBBA6
Orange = #F37936
*/

body {
	background-color: #eeeeee;
	color: white;
}

.head-container h2 {
	text-align: center;
	font-size: 2em;
}

.head-container {
	background-color: #1B2E35;
	width: 50%;
	margin: 2% auto;
}

.head-container p {
	padding: 1em;
	text-align: center;
	display: block;
}

.container {
	width: 50%;
	margin: 2% auto;
	background-color: #1FBBA6;
}

.container p {
	padding: 1em;
	text-align: center;
	display: block;
}

.container input {
	color: #1B2E35;
}

button {
	width: 50%;
	height: 50px;
	background-color: #168374;
	border: none;
}

.character-container {
	/*height: 350px;*/
	float: left;
	margin: 2%;
	width: 28%;
	overflow: auto;
}

.character-container p {
	padding: .5em;
}

@media (max-width: 1300px) {
  .character-container, .container {
    width: 45%;
  }
}

@media (max-width: 800px) {
	.character-container, .container {
		width: 90%;
	}
}
